body{
    background: url("./images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
}

.container{
    text-align: center;
}

.heading{
    color: white;
    margin: 5rem 1rem 2rem;
}

.description{
    color: white;
    line-height: 2rem;
    margin: 0 3rem;
}

.pricing{
    padding: 1rem;
    margin: 2rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 7px  hsl(249, 10%, 26%, 30%);
    background: hsl(248, 32%, 49%);
    color: white;
}

.pricing p span{
    font-weight: 700;
}

.form-container{
    padding: 1rem;
    background: white;
    margin: 1rem 2rem;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    margin-bottom: 10rem;
    box-shadow: 0 7px  hsl(249, 10%, 26%, 30%);
}

.form-container input{
    width: 90%;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border: 0.1px solid hsl(246, 25%, 77%);
    display: block;
    font-weight: 700;
    margin: 0.5rem auto;
    font-size: 16px;
}


.form-container button{
    font-size: 18px;
    width: 90%;
    padding: 1.2rem 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 5px rgb(36, 177, 116);
    font-weight: 700;
    background: hsl(154, 59%, 51%);
    color: white;
    margin: 1rem auto;
    cursor: pointer;
}

.btn-claim:hover{
    background-color: hsl(154, 85%, 60%);
    transition: 500ms;
}

.form-container .terms{
    font-size: 14px;
    margin: 0 3rem;
    line-height: 1.5;
    color: hsl(246, 25%, 77%);
}

.form-container p a{
    color: hsl(0, 100%, 74%);
    font-weight: 700;
    text-decoration: none;
}

.form-container p a:hover{
    color: hsl(0, 92%, 66%);
}

.error{
    background: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: 95%;
    
}

.form-container .e{
    display: none;
    color: hsl(0, 100%, 74%);
    text-align: right;
    font-style: italic;
    font-size: 12px;
    padding-right: 3%;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (min-width: 1200px) {
    
    body{
        overflow: hidden;
    }

    .container{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .top-container{
        text-align: left;
        margin-left: 4rem;
        margin-top: 20%;
    }

    .top-container .heading{
        font-size: 1.5rem;
        padding: 0 10rem 0 0;
        margin-left: 3rem;
    }

    .form-container{
        width: 35rem;
        margin-left: 3rem;
    }

    .pricing{
        margin: 5rem 3rem 1rem;
        width: 35rem;
    }
}